In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataPath = '/home/daniel/Desktop/programming/pythondatascience/datascience/c_sharp/learn_resources/C-sharp-tutorials/LaptopPriceTrainer'
olddata = pd.read_csv(os.path.join(dataPath,'laptoppricesUS.csv'), delimiter='\t')
olddata.head()

  CPU  GHz    GPU  RAM RAMType  Screen  Storage    SSD  Weight  Price
0  i5  1.8  intel    4    ddr3    13.3      128   True     1.4    527
1  i5  2.5  intel    4    ddr3    13.3      500  False     2.0    527
2  i5  2.5  intel    8    ddr3    13.3      500  False     2.0    558
3  i5  1.4  intel    4    ddr3    11.6      128   True     1.0    485
4  i5  1.3  intel    4    ddr3    11.6      128   True     1.0    421

In [3]:
# data.to_csv('laptoppricesnew.csv')
data = pd.read_csv(os.path.join(dataPath,'laptoppricesnew.csv'), index_col=0)
data.head()

  CPU  GHz    GPU  RAM RAMType  Screen  Storage    SSD  Weight  Price
0  i5  1.8  intel    4    ddr3    13.3      128   True     1.4    527
1  i5  2.5  intel    4    ddr3    13.3      500  False     2.0    527
2  i5  2.5  intel    8    ddr3    13.3      500  False     2.0    558
3  i5  1.4  intel    4    ddr3    11.6      128   True     1.0    485
4  i5  1.3  intel    4    ddr3    11.6      128   True     1.0    421